.add-icon {
    font-size: 30px;
    color: darkslateblue;

    :hover {
        cursor: pointer;
    }
}

.material-symbols-outlined {
    font-size: 30px;
    color: darkslateblue;

    :hover {
        cursor: pointer;
    }
}

