header {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    background-color: rgb(226, 224, 236);
    height: 60px;

    text-align: center;
}

div {
    width: 100%;

    margin: auto;

    :hover {
        cursor: pointer;
    }
}